body{
font-family: Arial;
background:#eee;
}

.ticket{
width:280px;
margin:auto;
background:white;
padding:10px;
}

h2{
text-align:center;
margin:0;
}

h3{
text-align:center;
margin:2px;
font-size:14px;
}

table{
width:100%;
font-size:12px;
border-collapse:collapse;
}

th{
border-bottom:1px dashed black;
}

td{
padding:2px;
}

td:nth-child(1){
text-align:center;
}

td:nth-child(2){
text-align:center;
}

td:nth-child(3){
text-align:center;
}

td:nth-child(4){
text-align:right;
}

td:nth-child(5){
text-align:right;
}

.totales{
font-size:13px;
}

.totales span{
float:right;
}

.total{
font-weight:bold;
font-size:14px;
}

.gracias{
text-align:center;
margin-top:10px;
font-size:12px;
}
